##             This is the soluton of task 2 - AI Instant - Khaled Alashmawy

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-1 :  Write a Python program to find those numbers which are divisible by 7
 and multiple of 5, between 1500 and 2700 (both included).

In [13]:
for i in range(1500, 2701):
    if i % 5 == 0 and (i/5) % 7 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------



#### Q-2 :  Write a Python program to convert temperatures to and from celsius, fahrenheit.
 Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

In [15]:
temp = float(input("Enter tempe to convert from C to F : "))
tf = (temp*1.8)+32
print(f'the temperature with fahrenheit is = {tf}F.')

Enter tempe to convert from C to F : 36
the temperature with fahrenheit is = 96.8F.

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-3 : Write a Python program to construct the following pattern, using a nested for loop.

In [16]:
for i in range(1):

    for p in range(6):
        print("*"*p)
    for n in range(5):
        c = 4-n
        print("*"*c)

*
**
***
****
*****
****
***
**
*

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-4 : Write a Python program that accepts a word from the user and reverse it

In [19]:
word = str(input("Enter a word to reverse:"))
reverse = ""

for i in range(1, len(word)+1):
    reverse += word[-i]
print(reverse)

Enter a word to reverse:Khaled
delahK

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-5 : Write a Python function to find the Max of three numbers.

In [21]:
print("Enter three numbers")

n1 = int(input("Enter 1st number : "))
n2 = int(input("Enter 2nd number : "))
n3 = int(input("Enter 3rd number : "))

def big(n1,n2,n3):
    if n1 > n2 and n1 > n3:
        return print(f"1st number is  the biggest {n1}")

    elif n2 > n1 and n2 > n3:
        return print(f"2nd number is the biggest {n2}")

    elif n3 > n1 and n3 > n2:
        return print(f"3rd number is the biggest {n3}")

    else:
        return print(f"All three numbers are equal {n1},{n2},{n3}")
big(n1,n2,n3)

Enter three numbers
Enter 1st number : 1
Enter 2nd number : 2
Enter 3rd number : 3
3rd number is the biggest 3

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-6 : Write a Python function to sum all the numbers in a list.

In [24]:
def sum_number(ls):
    sum_list = 0
    
    for i in range(0, len(list)):
        sum_list = sum_list + list[i]
    return sum_list


list = [11, 22, 33, 44]
sum_number(list)

110

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-7 :  Write a Python program that prints all the numbers from 0 to 6 except 3 and 6. Note : Use 'continue' statement.

In [26]:
for i in range(0, 6+1):
    if i != 3 and i != 6:
        print(i)
    else:
        continue

0
1
2
4
5

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-8 : Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [28]:
def fact(num):
    fact_num = 1
    for i in range(1, num+1):
        fact_num *= i
    return fact_num

inp=int(input("Enter a number to calculate the factiorial : "))
fact(inp)

Enter a number to calculate the factiorial : 5

120

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-9 :  Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [31]:
def unique(ls):
    ul = []
    for c in ls:
        if c not in ul:
            ul.append(c)
    return ul


print(unique([1, 2, 3, 3, 3, 3, 4, 5]))

[1, 2, 3, 4, 5]

#### ---------------------------------------------------------------------------------------------------------------------------------------------------------

#### Q-10 :  Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result. Bonus

In [32]:
inp = int(input("enter number to add 15 to it:"))
inp_x = int(input("enter x:"))
inp_y = int(input("enter y:"))

add15 = lambda a : a + 15
mlut = lambda x , y : x * y

print(add15(inp))
print(f"x={inp_x} multiplies to x={inp_y} are ={mlut(inp_x, inp_y)}")

enter number to add 15 to it:1
enter x:2
enter y:3
16
x=2 multiplies to x=3 are =6